.navbar-logo {
    height: 55px;
    
}

.navbar-logo:hover {
    transform: scale(1.05);
}

.custom-navbar {
  background-color: #0e0e0e !important;  /* fond noir profond */
  border-bottom: 1px solid #222;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f8f9fa;  
}

.navbar-dark .navbar-brand {
  color: #ffffff;
}

